@import "reset";

body {
    background: url(../img/background-main.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.LOGO {
    position: absolute;
    left: 10px;
    top: 10px;
    img {
        width: 230px;
        height: 80px;
    }
}

.body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;

    .block-registration {
        border: 1px solid rgb(255, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: rgba(255, 255, 255, 0.2);

        .block__buttons {
            .login {
            }
            .registration {
            }
        }

        .block-inputs {
            .password {
            }
            .alert-zone {
            }
        }
    }
}
