@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}
@media (width < 1024px) {
  html body {
    background-color: rgb(228, 252, 202);
    background-image: none;
  }
  html .block-title {
    display: none;
  }
  html .body-container {
    margin-top: 30rem;
  }
  html .body-container,
  html .block-registration {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  html .block-inputs,
  html .block__buttons {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
@media (max-width: 700px) and (min-width: 300px) {
  html {
    font-size: 3.3333333333vw;
  }
}
@media (max-width: 1280px) and (min-width: 700px) {
  html {
    font-size: 1.4285714286vw;
  }
}
@media (max-width: 1440px) and (min-width: 1280px) {
  html {
    font-size: 0.78125vw;
  }
}
@media (max-width: 1920px) and (min-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 0.5208333333vw;
  }
}

body {
  background: url(../img/background-main.png) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LOGO {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.LOGO img {
  width: 23rem;
  height: 8rem;
}

.body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30rem);
  height: 50rem;
}
.body-container .block-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  width: 60rem;
  height: 26rem;
}
.body-container .block-registration .block__buttons {
  width: inherit;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.body-container .block-registration .block__buttons button {
  width: calc(50% - 0.9rem);
  height: 5rem;
  background-color: #bde08c;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  color: #4f4f4f;
}
.body-container .block-registration .block-inputs {
  width: inherit;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}
.body-container .block-registration .block-inputs input {
  width: calc(50% - 4.1rem);
  height: 4rem;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: rgb(79, 79, 79);
}
.body-container .block-registration .block-inputs input::-moz-placeholder {
  color: #727272;
}
.body-container .block-registration .block-inputs input::placeholder {
  color: #727272;
}
.body-container .block-registration .alert-zone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgb(180, 18, 18);
  width: 30rem;
  text-align: center;
}
.body-container .block-registration button {
  width: 25rem;
  height: 5.1rem;
  background: #504384;
  border-radius: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: #ffffff;
}
.body-container .block-registration .link-pass {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #3d3d3d;
  text-decoration: none;
}
.body-container .block-title {
  width: 47.5rem;
  height: 90%;
  background: url(../img/circlesBack.svg) no-repeat;
  background-size: contain;
  text-align: right;
}
.body-container .block-title .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10rem;
  color: #4f4f4f;
}
.body-container .block-title .subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 6.8rem;
  color: #4f4f4f;
  line-height: 11.2rem;
}/*# sourceMappingURL=main.css.map */